{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/profiles.css' %}">
{% endblock extra_head %}

{% block content %}
<div class="row" >
    <!-- Profile Image Section -->
    <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <img class="rounded-circle mt-5" width="150px" 
                src="{% static 'assets/img/profile.png' %}">
            <span class="font-weight-bold">{{user.username| default:'enter username'}}</span>
            <span class="text-black-50">{{user.email}}</span>
        </div>
    </div>
    <!-- Profile Form Section -->
    <div class="col-md-8 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">First Name</label>
                        <input type="text" class="form-control" placeholder="First name" value={{user.first_name}}>
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Last Name</label>
                        <input type="text" class="form-control" value="{{user.last_name}}" placeholder="Last name">
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Username</label>
                        <input type="text" class="form-control" value="{{user.username| default:'enter username'}}" placeholder="Username">
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Phone Number</label>
                        <input type="text" class="form-control" placeholder="Enter phone number" value="{{ user.phone|default_if_none:'enter number' }}">
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Email</label>
                        <input type="text" class="form-control" placeholder="Enter email" value="{{user.email}}">
                    </div> 
                    <div class="col-md-6">
                        <label class="labels">Date of Birth</label>
                        <input type="date" class="form-control" placeholder="Date of birth" value="{{user.dob| date:'Y-m-d'}}">
                    </div>
                </div>
                <div class="mt-4 text-center">
                    <button class="btn btn-primary profile-button rounded" type="button">Save Profile</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
